<!doctype html>
<html lang="en">
<head>
  <title>Sidebar 05</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4">
      <h1><a href="index.html" class="logo">Quiz <span> Open quiz</span></a></h1>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a routerLink="/profile"><span class="fa fa-home mr-3"></span>Home</a>
        </li>
        <li>
          <a routerLink="/list_quiz"><span class="fa fa-user mr-3"></span> Show Quiz</a>
        </li>
        <li>
          <a routerLink="/passed_tests"><span class="fa fa-briefcase mr-3"></span>Passed Test</a>
        </li>
        <li>
          <a routerLink="/create_quiz"><span class="fa fa-sticky-note mr-3"></span> Create Quiz</a>
        </li>
        <li>
          <a routerLink="/create_question"><span class="fa fa-sticky-note mr-3"></span> Create Question</a>
        </li>
        <li>
          <a routerLink="/admin_dashboard"><span class="fa fa-sticky-note mr-3"></span> Admin Dashboard</a>
        </li>
      </ul>

      <div class="mb-5 text-white">
        <h3 class="h6 mb-3">Search question</h3>
        <form action="#" class="subscribe-form">
          <div class="form-g3roup d-flex ">
            <div class="icon"><span class="icon-paper-plane"></span></div>
            <input class="form-control text-white" placeholder="search..."  name="searchTerm" #searchInput="ngModel" ngModel (ngModelChange)="searchQuestion(searchInput.value)" type="search">
          </div>
        </form>
      </div>


    </div>
  </nav>

  <!-- Page Content  -->

  <div id="content" class="container-fluid">


    <table class="table table-hover justify-content-center">
      <thead class="text-center" >
      <tr>
        <th scope="col">ID</th>
        <th scope="col">QUESTION</th>
        <th scope="col">SUCCESS_ANSWER</th>
        <th scope="col">BADLY_FIRST_ANSWER</th>
        <th scope="col">BADLY_SECOND_ANSWER</th>
        <th scope="col">DELETE</th>
      </tr>
      </thead>
      <tbody *ngFor="let quest of questions" style="cursor: pointer;" class="text-center" >
      <tr>
        <td (click)="onChangeQuestion(quest, questionChange)">{{quest.id}}</td>
        <td (click)="onChangeQuestion(quest, questionChange)" scope="row">{{quest.question}}</td>
        <td (click)="onChangeQuestion(quest, questionChange)">{{quest.answer}}</td>
        <td (click)="onChangeQuestion(quest, questionChange)">{{quest.badFirstAnswer}}</td>
        <td (click)="onChangeQuestion(quest, questionChange)">{{quest.badSecondAnswer}}</td>
        <td  (click)="onDeleteQuestion(quest.id)">
          <i class="fas fa-trash text-danger"></i>
        </td>
      </tr>

      </tbody>
    </table>


  </div>
</div>

</body >
</html >

<ng-template #questionChange let-modal id="quiz">



            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">CHANGE QUESTION FORM</h3>
                <form #UPDATE="ngForm">
                  <div class="col">
                    <div class="form-outline">

                      <input hidden="true" type="text" ngModel required id="id" name="id" class="form-control form-control-lg border" [ngModel]="selectQuestion?.id!"/>

                      <label class="form-label" for="question">Put on question</label>
                      <input type="text" ngModel required id="question" name="question" class="form-control form-control-lg border" [ngModel]="selectQuestion?.question!"/>

                      <label class="form-label" for="answerSuccessful">Successful answer the question</label>
                      <input type="text" ngModel required id="answerSuccessful" name="answer" class="form-control form-control-lg border" [ngModel]="selectQuestion?.answer!"/>

                      <label class="form-label" for="answerBadlyFirst">First badly answer the question</label>
                      <input type="text" ngModel required id="answerBadlyFirst" name="badFirstAnswer" class="form-control form-control-lg border" [ngModel]="selectQuestion?.badFirstAnswer"/>

                      <label class="form-label" for="answerBadlySecond">Second badly answer the question</label>
                      <input type="text" ngModel required id="answerBadlySecond" name="badSecondAnswer" class="form-control form-control-lg border" [ngModel]="selectQuestion?.badSecondAnswer!"/>
                    </div>
                  </div>
                  <div class="mt-4 pt-2 text-center">
                    <button type="button" style="background-color: #6C63FF;" class="btn btn-lg text-white"  (click)="onSaveChangeQuestion(UPDATE.value)">Update</button>
                  </div>
                </form>



              </div>
            </div>



</ng-template>
