<!doctype html>
<html lang="en">
<head>
  <title>Sidebar 05</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4">
      <h1><a href="index.html" class="logo">Test <span> Passed test</span></a></h1>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a routerLink="/profile"><span class="fa fa-home mr-3"></span>Home</a>
        </li>
        <li>
          <a routerLink="/list_quiz"><span class="fa fa-user mr-3"></span> Show Quiz</a>
        </li>
        <li>
          <a routerLink="/passed_tests"><span class="fa fa-briefcase mr-3"></span>Passed Test</a>
        </li>
        <li>
          <a href="#" [hidden]="flagRoleAccess"><span class="fa fa-sticky-note mr-3"></span> Create Quiz</a>
        </li>
        <li>
          <a routerLink="/create_question" [hidden]="flagRoleAccess" ><span class="fa fa-sticky-note mr-3"></span> Create Question</a>
        </li>
        <li>
          <a routerLink="/admin_dashboard" [hidden]="flagRoleAccess"><span class="fa fa-sticky-note mr-3"></span> Admin Dashboard</a>
        </li>
      </ul>

      <div class="mb-5 text-white">
        <h3 class="h6 mb-3">Search quiz</h3>
        <form action="#" class="subscribe-form">
          <div class="form-g3roup d-flex ">
            <div class="icon"><span class="icon-paper-plane"></span></div>
            <input class="form-control text-white" placeholder="search..."  name="searchTerm" #searchInput="ngModel" ngModel (ngModelChange)="searchQuiz(searchInput.value)" type="search">
          </div>
        </form>
      </div>


    </div>
  </nav>

  <!-- Page Content  -->

  <div id="content" class="container-fluid">


    <table class="table table-hover justify-content-center">
      <thead>
      <tr>
        <th scope="col">Quiz theme</th>
        <th scope="col">Notice</th>
      </tr>
      </thead>
      <tbody *ngFor="let quiz of selectCurrentUserQuizes" style="cursor: pointer;">
      <tr>
        <td (click)="onShowTest(quiz.id,passed)" scope="row">{{quiz.name}}</td>
        <td (click)="onShowTest(quiz.id, passed)">{{quiz.notice}}</td>
      </tr>

      </tbody>
    </table>


  </div>
</div>

</body>
</html>

<ng-template #passed let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Test: </h4>
  </div>
  <div class="modal-body">
    <table class="table table-hover justify-content-center">
      <thead>
      <tr>
        <th scope="col">Question</th>
        <th scope="col">Your answer</th>
        <th scope="col">Successful answer</th>
        <th scope="col">Is Correct</th>
        <th scope="col">Code test userId</th>
        <th scope="col">Username test</th>
      </tr>
      </thead>
      <tbody *ngFor="let answer of answerByQuizTest" style="cursor: pointer;">
      <tr>
        <td scope="row">{{answer.question}}</td>
        <td> {{answer.answerUser}}</td>
        <td>{{answer.answerSuccessful}}</td>
        <td>
          <span class="text-success" [hidden]="!answer?.isSuccessfulAnswer">
            <i class="fas fa-check-circle"></i>
          </span>
          <span class="text-danger" [hidden]="answer?.isSuccessfulAnswer">
           <i class="fas fa-times-circle"></i>
          </span>
        </td>
        <td>{{answer.idCode}}</td>
        <td>{{answer.usernameActive}}</td>
      </tr>
      </tbody>
    </table>

  </div>

</ng-template>


