<html lang="en">
<head>
  <title>Sidebar 05</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4">
      <h1><a href="index.html" class="logo">Question <span> Create new questions</span></a></h1>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a routerLink="/profile"><span class="fa fa-home mr-3"></span>Home</a>
        </li>
        <li>
          <a routerLink="/create_quiz"><span class="fa fa-sticky-note mr-3" ></span> Create Quiz</a>
        </li>
        <li>
          <a routerLink="/create_question"><span class="fa fa-sticky-note mr-3"></span> Create Question</a>
        </li>
        <li>
          <a routerLink="/list_question"><span class="fa fa-sticky-note mr-3"></span> List question</a>
        </li>
        <li>
          <a routerLink="/quiz_all_list"><span class="fa fa-sticky-note mr-3"></span> List quiz</a>
        </li>
        <li>
          <a routerLink="/admin_dashboard"><span class="fa fa-sticky-note mr-3"></span> Admin Dashboard</a>
        </li>
      </ul>


    </div>
  </nav>

  <!-- Page Content  -->

  <div id="content">

    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">CREATE QUIZ FORM</h3>
                <form #createQuiz="ngForm">
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label" for="name">Put on theme or name quiz</label>
                      <input type="text" ngModel required id="name" name="name" class="form-control form-control-lg border"/>

                      <label class="form-label" for="notice">Notice about quiz</label>
                      <input type="text" ngModel required id="notice" name="notice" class="form-control form-control-lg border" />

                    </div>
                  </div>
                  <div class="mt-4 pt-2 text-center">
                    <button type="button" style="background-color: #6C63FF;" class="btn btn-lg text-white" [disabled]="createQuiz.invalid" (click)="onSaveQuiz(createQuiz.value)">Save</button>
                  </div>
                </form>



              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>

